/* MIN-HEIGHT MEDIA QUERIES (mobile-first) */

@media (min-height: 650px) {
    .memebox{
        height: 288px;
    }
}

@media (min-height: 660px) {
    .memebox{
        height: 298px;
    }
}

@media (min-height: 670px) {
    .memebox{
        height: 308px;
    }
}

@media (min-height: 680px) {

    .memebox{
        height: 318px;
    }
}

@media (min-height: 690px) {
    .memebox{
        height: 328px;
    }
}

@media (min-height: 700px) {
    .memebox{
        height: 338px;
    }
}

@media (min-height: 710px) {
    .memebox{
        height: 348px;
    }
}

@media (min-height: 720px) {
    .memebox{
        height: 358px;
    }
}

@media (min-height: 730px) {
    .memebox{
        height: 368px;
    }
}

@media (min-height: 740px) {
    .memebox{
        height: 378px;
    }

}

@media (min-height: 750px) {
    .memebox{
        height: 388px;
    }

}

@media (min-height: 760px) {
    .memebox{
        height: 398px;
    }
}

@media (min-height: 770px) {
    .memebox{
        height: 408px;
    }
}

@media (min-height: 780px) {
    .memebox{
        height: 418px;
    }
}

@media (min-height: 790px) {
    .memebox{
        height: 428px;
    }
}

@media (min-height: 800px) {
    .memebox{
        height: 438px;
    }
}

@media (min-height: 810px) {
     .memebox{
        height: 448px;
    }
}

@media (min-height: 820px) {
     .memebox{
        height: 458px;
    }
}

@media (min-height: 830px) {
     .memebox{
        height: 468px;
    }
}

@media (min-height: 840px) {
    .memebox{
        height: 478px;
    }
}

@media (min-height: 850px) {
    .memebox{
        height: 488px;
    }
}

@media (min-height: 860px) {
    .memebox{
        height: 498px;
    }
}

@media (min-height: 870px) {
    .memebox{
        height: 508px;
    }
}

@media (min-height: 880px) {
    .memebox{
        height: 518px;
    }
}

@media (min-height: 890px) {
    .memebox{
        height: 528px;
    }
}

@media (min-height: 900px) {
    .memebox{
        height: 538px;
    }
}

@media (min-height: 910px) {
    .memebox{
        height: 548px;
    }
}

@media (min-height: 920px) {
    .memebox{
        height: 558px;
    }
}

@media (min-height: 930px) {
    .memebox{
        height: 568px;
    }
}

@media (min-height: 940px) {
    .memebox{
        height: 578px;
    }
}

@media (min-height: 950px) {
     .memebox{
        height: 588px;
    }
}

@media (min-height: 960px) {
    .memebox{
        height: 598px;
    }
}

@media (min-height: 970px) {
    .memebox{
        height: 608px;
    }
}

@media (min-height: 980px) {
    .memebox{
        height: 618px;
    }
}

@media (min-height: 990px) {
    .memebox{
        height: 628px;
    }
}

@media (min-height: 1000px) {
    .memebox{
        height: 638px;
    }
}

@media (min-height: 1010px) {
    .memebox{
        height: 648px;
    }
}

@media (min-height: 1020px) {
    .memebox{
        height: 658px;
    }
}

@media (min-height: 1030px) {
    .memebox{
        height: 668px;
    }
}

@media (min-height: 1040px) {
    .memebox{
        height: 678px;
    }
}

@media (min-height: 1050px) {
    .memebox{
        height: 688px;
    }
}

@media (min-height: 1060px) {
    .memebox{
        height: 698px;
    }
}

@media (min-height: 1070px) {}

@media (min-height: 1080px) {}

@media (min-height: 1090px) {}

@media (min-height: 1100px) {}

@media (min-height: 1110px) {}

@media (min-height: 1120px) {}

@media (min-height: 1130px) {}

@media (min-height: 1140px) {}

@media (min-height: 1150px) {}

@media (min-height: 1160px) {}

@media (min-height: 1170px) {}

@media (min-height: 1180px) {}

@media (min-height: 1190px) {}

@media (MAX-height: 1200px) {
    body{
        overflow-y: hidden;
    }
}
