/* Mobile-first media queries (empty) */

/* 360px */
@media (min-width: 360px) {
    .footerNav{
    
    width: 360px;
     

}
input{
  
    width: 300px;
   
}
.RankBox{
width: 350px;
margin-left: 25px;
   
}
.colName{
    gap: 5px;
   
 margin-left: 50px;
}
}

/* 370px */
@media (min-width: 370px) {
    .footerNav{
    
    width: 370px;

}
input{
  
    width: 320px;
   margin-left: 0px;
}
.RankBox{
width: 350px;
margin-left: 28px;
   
}
.colName{
    gap: 15px;
   
 margin-left: 50px;
}
}

/* 380px */
@media (min-width: 380px) {
    .footerNav{
    
    width: 380px;

}
input{
  
    width: 320px;
   margin-left: 0px;
}
.RankBox{
width: 350px;
margin-left: 34px;
   
}
.colName{
    gap: 15px;
   
 margin-left: 50px;
}
}

/* 390px */
@media (min-width: 390px) {
    .footerNav{
    
    width: 390px;

}
input{
  
    width: 330px;
   margin-left: 0px;
}
.RankBox{
width: 350px;
margin-left: 36px;
   
}
.colName{
    gap: 15px;
   
 margin-left: 50px;
}
}

/* 400px */
@media (min-width: 400px) {
    .footerNav{
    
    width: 400px;

}
input{
  
    width: 340px;
   margin-left: 0px;
}
.RankBox{

background-color: rgb(0, 0, 0);
margin-left: 35px;
   
}
.card{
width: 300px;
}
.loss{
width: 300px;
}
.gain{
width: 300px;
}
.colName{
    gap: 20px;
    
   
 margin-left: 60px;
}
}

/* 410px */
@media (min-width: 410px) {
    .footerNav{
    
    width: 410px;

}
input{
  
    width: 350px;
   margin-left: 0px;
}
.RankBox{

background-color: rgb(0, 0, 0);
margin-left: 35px;
   
}
.card{
width: 300px;
}
.loss{
width: 300px;
}
.gain{
width: 300px;
}
.colName{
    gap: 20px;
    
   
 margin-left: 60px;
}
}

/* 420px */
@media (min-width: 420px) {
    .footerNav{
    
    width: 420px;

}
input{
  
    width: 360px;
   margin-left: 0px;
}
.RankBox{
width: 360px;
background-color: rgb(0, 0, 0);
margin-left: 30px;
   
}
.card{
width: 320px;
}
.loss{
width: 320px;
}
.gain{
width: 320px;
}
.colName{
    gap: 37px;
    
   
 margin-left: 60px;
}
}

/* 430px */
@media (min-width: 430px) {
    .footerNav{
    
    width: 430px;

}
input{
  
    width: 370px;
   margin-left: 0px;
}
.RankBox{
width: 360px;
background-color: rgb(0, 0, 0);
margin-left: 40px;
   
}
.card{
width: 320px;
}
.loss{
width: 320px;
}
.gain{
width: 320px;
}
.colName{
    gap: 37px;
    
   
 margin-left: 60px;
}
}

/* 440px */
@media (min-width: 440px) {
     .footerNav{
    
    width: 440px;

}
input{
  
    width: 380px;
   margin-left: 0px;
}
.RankBox{
width: 360px;
background-color: rgb(0, 0, 0);
margin-left: 40px;
   
}
.card{
width: 320px;
}
.loss{
width: 320px;
}
.gain{
width: 320px;
}
.colName{
    gap: 37px;
    
   
 margin-left: 60px;
}
}

/* 450px */
@media (min-width: 450px) {
     .footerNav{
    
    width: 450px;

}
input{
  
    width: 380px;
   margin-left: 0px;
}
.RankBox{
width: 360px;
background-color: rgb(0, 0, 0);
margin-left: 47px;
   
}
.card{
width: 320px;
}
.loss{
width: 320px;
}
.gain{
width: 320px;
}
.colName{
    gap: 40px;
    
   
 margin-left: 65px;
}
}

/* 460px */
@media (min-width: 460px) {
    .footerNav{
    
    width: 460px;

}
input{
  
    width: 390px;
   margin-left: 0px;
}
.RankBox{
width: 360px;
background-color: rgb(0, 0, 0);
margin-left: 50px;
   
}
.card{
width: 320px;
}
.loss{
width: 320px;
}
.gain{
width: 320px;
}
.colName{
    gap: 40px;
    
   
 margin-left: 65px;
}
}

/* 470px */
@media (min-width: 470px) {
    .footerNav{
    
    width: 470px;

}
input{
  
    width: 400px;
   margin-left: 0px;
}
.RankBox{
width: 400px;
background-color: rgb(0, 0, 0);
margin-left: 40px;
   
}
.card{
width: 350px;
}
.loss{
width: 350px;
}
.gain{
width: 350px;
}
.colName{
    gap: 40px;
    
   
 margin-left: 65px;
}
}

/* 480px */
@media (min-width: 480px) {
     .footerNav{
    
    width: 480px;

}
input{
  
    width: 410px;
   margin-left: 0px;
}
.RankBox{
width: 400px;
background-color: rgb(0, 0, 0);
margin-left: 45px;
   
}
.card{
width: 350px;
}
.loss{
width: 350px;
}
.gain{
width: 350px;
}
.colName{
    gap: 53px;
    
   
 margin-left: 70px;
}
}

/* 490px */
@media (min-width: 490px) {
     .footerNav{
    
    width: 490px;

}
input{
  
    width: 420px;
   margin-left: 0px;
}
.RankBox{
width: 400px;
background-color: rgb(0, 0, 0);
margin-left: 55px;
   
}
.card{
width: 350px;
}
.loss{
width: 350px;
}
.gain{
width: 350px;
}
.colName{
    gap: 60px;
    
   
 margin-left: 70px;
}
}

/* 500px */
@media (min-width: 500px) {
       .footerNav{
    
    width: 500px;

}
input{
  
    width: 430px;
   margin-left: 0px;
}
.RankBox{
width: 400px;
background-color: rgb(0, 0, 0);
margin-left: 55px;
   
}
.card{
width: 350px;
}
.loss{
width: 350px;
}
.gain{
width: 350px;
}
.colName{
    gap: 60px;
    
   
 margin-left: 70px;
}
}

/* 510px */
@media (min-width: 510px) {
       .footerNav{
    
    width: 510px;

}
input{
  
    width: 430px;
   margin-left: 0px;
}
.RankBox{
width: 400px;
background-color: rgb(0, 0, 0);
margin-left: 60px;
   
}
.card{
width: 350px;
}
.loss{
width: 350px;
}
.gain{
width: 350px;
}
.colName{
    gap: 60px;
    
   
 margin-left: 70px;
}
}

/* 520px */
@media (min-width: 520px) {
     .footerNav{
    
    width: 520px;

}
input{
  
    width: 440px;
   margin-left: 0px;
}
.RankBox{
width: 400px;
background-color: rgb(0, 0, 0);
margin-left: 65px;
   
}
.card{
width: 350px;
}
.loss{
width: 350px;
}
.gain{
width: 350px;
}
.colName{
    gap: 60px;
    
   
 margin-left: 90px;
}
}

/* 530px */
@media (min-width: 530px) {
     .footerNav{
    
    width: 530px;

}
input{
  
    width: 450px;
   margin-left: 0px;
}
.RankBox{
width: 430px;
background-color: rgb(0, 0, 0);
margin-left: 55px;
   
}
.card{
width: 380px;
}
.loss{
width: 380px;
}
.gain{
width: 380px;
}
.colName{
    gap: 70px;
    
   
 margin-left: 80px;
}
}

/* 540px */
@media (min-width: 540px) {
    .footerNav{
    
    width: 540px;

}
input{
  
    width: 460px;
   margin-left: 0px;
}
.RankBox{
width: 430px;
background-color: rgb(0, 0, 0);
margin-left: 60px;
   
}
.card{
width: 380px;
}
.loss{
width: 380px;
}
.gain{
width: 380px;
}
.colName{
    gap: 70px;
    
   
 margin-left: 80px;
}
}

/* 550px */
@media (min-width: 550px) {
    .footerNav{
    
    width: 550px;

}
input{
  
    width: 460px;
   margin-left: 0px;
}
.RankBox{
width: 430px;
background-color: rgb(0, 0, 0);
margin-left: 60px;
   
}
.card{
width: 380px;
}
.loss{
width: 380px;
}
.gain{
width: 380px;
}
.colName{
    gap: 70px;
    
   
 margin-left: 80px;
}
}

/* 560px */
@media (min-width: 560px) {
    .footerNav{
    
    width: 560px;

}
input{
  
    width: 460px;
   margin-left: 0px;
}
.RankBox{
width: 430px;
background-color: rgb(0, 0, 0);
margin-left: 60px;
   
}
.card{
width: 380px;
}
.loss{
width: 380px;
}
.gain{
width: 380px;
}
.colName{
    gap: 70px;
    
   
 margin-left: 80px;
}
}

/* 570px */
@media (min-width: 570px) {
    .footerNav{
    
    width: 570px;

}
input{
  
    width: 480px;
   margin-left: 0px;
}
.RankBox{
width: 430px;
background-color: rgb(0, 0, 0);
margin-left: 73px;
   
}
.card{
width: 380px;
}
.loss{
width: 380px;
}
.gain{
width: 380px;
}
.colName{
    gap: 75px;
    
   
 margin-left: 85px;
}
}

/* 580px */
@media (min-width: 580px) {
    .footerNav{
    
    width: 580px;

}
input{
  
    width: 480px;
   margin-left: 0px;
}
.RankBox{
width: 430px;
background-color: rgb(0, 0, 0);
margin-left: 73px;
   
}
.card{
width: 380px;
}
.loss{
width: 380px;
}
.gain{
width: 380px;
}
.colName{
    gap: 75px;
    
   
 margin-left: 85px;
}
}

/* 590px */
@media (min-width: 590px) {
    .footerNav{
    
    width: 590px;

}
input{
  
    width: 490px;
   margin-left: 0px;
}
.RankBox{
width: 430px;
background-color: rgb(0, 0, 0);
margin-left: 84px;
   
}
.card{
width: 380px;
}
.loss{
width: 380px;
}
.gain{
width: 380px;
}
.colName{
    gap: 80px;
    
   
 margin-left: 95px;
}
}

/* 600px */
@media (min-width: 600px) {

    .footerNav{
    
    width: 600px;

}
input{
  
    width: 500px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 55px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 100px;
    
   
 margin-left: 80px;
}
}

/* 610px */
@media (min-width: 610px) {
    .footerNav{
    
    width: 610px;

}
input{
  
    width: 510px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 55px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 100px;
    
   
 margin-left: 80px;
}
}

/* 620px */
@media (min-width: 620px) {
    .footerNav{
    
    width: 620px;

}
input{
  
    width: 520px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 65px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 110px;
    
   
 margin-left: 80px;
}
}

/* 630px */
@media (min-width: 630px) {
    .footerNav{
    
    width: 630px;

}
input{
  
    width: 530px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 70px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 110px;
    
   
 margin-left: 80px;
}
}

/* 640px */
@media (min-width: 640px) {
    .footerNav{
    
    width: 640px;

}
input{
  
    width: 540px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 75px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 120px;
    
   
 margin-left: 80px;
}
}

/* 650px */
@media (min-width: 650px) {
    .footerNav{
    
    width: 650px;

}
input{
  
    width: 550px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 75px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 110px;
    
   
 margin-left: 90px;
}
}

/* 660px */
@media (min-width: 660px) {
    .footerNav{
    
    width: 660px;

}
input{
  
    width: 560px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 75px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 110px;
    
   
 margin-left: 90px;
}
}

/* 670px */
@media (min-width: 670px) {
    .footerNav{
    
    width: 670px;

}
input{
  
    width: 570px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 90px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 110px;
    
   
 margin-left: 110px;
}
}

/* 680px */
@media (min-width: 680px) {
    .footerNav{

    width: 680px;

}
input{
  
    width: 570px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 90px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 110px;
    
   
 margin-left: 110px;
}
}

/* 690px */
@media (min-width: 690px) {
    .footerNav{

    width: 690px;

}
input{
  
    width: 580px;
   margin-left: 0px;
}
.RankBox{
width: 500px;
background-color: rgb(0, 0, 0);
margin-left: 90px;
   
}
.card{
width: 450px;
}
.loss{
width: 450px;
}
.gain{
width: 450px;
}
.colName{
    gap: 110px;
    
   
 margin-left: 110px;
}
}

/* 700px */
@media (min-width: 700px) {
    .footerNav{

    width: 700px;

}
input{
  
    width: 590px;
   margin-left: 0px;
}
.RankBox{
width: 520px;
background-color: rgb(0, 0, 0);
margin-left: 95px;
   
}
.card{
width: 470px;
}
.loss{
width: 470px;
}
.gain{
width: 470px;
}
.colName{
    gap: 115px;
    
   
 margin-left: 120px;
}
}

/* 710px */
@media (min-width: 710px) {
    .footerNav{

    width: 710px;

}
input{
  
    width: 600px;
   margin-left: 0px;
}
.RankBox{
width: 520px;
background-color: rgb(0, 0, 0);
margin-left: 95px;
   
}
.card{
width: 470px;
}
.loss{
width: 470px;
}
.gain{
width: 470px;
}
.colName{
    gap: 115px;
    
   
 margin-left: 120px;
}
}

/* 720px */
@media (min-width: 720px) {
    .footerNav{

    width: 720px;

}
input{
  
    width: 610px;
   margin-left: 0px;
}
.RankBox{
width: 550px;
background-color: rgb(0, 0, 0);
margin-left: 95px;
   
}
.card{
width: 490px;
}
.loss{
width: 490px;
}
.gain{
width: 490px;
}
.colName{
    gap: 125px;
    
   
 margin-left: 120px;
}
}

/* 730px */
@media (min-width: 730px) {
    .footerNav{

    width: 730px;

}
input{
  
    width: 610px;
   margin-left: 0px;
}
.RankBox{
width: 550px;
background-color: rgb(0, 0, 0);
margin-left: 105px;
   
}
.card{
width: 490px;
}
.loss{
width: 490px;
}
.gain{
width: 490px;
}
.colName{
    gap: 128px;
    
   
 margin-left: 120px;
}
}

/* 740px */
@media (min-width: 740px) {
    .footerNav{

    width: 740px;

}
input{
  
    width: 620px;
   margin-left: 0px;
}
.RankBox{
width: 550px;
background-color: rgb(0, 0, 0);
margin-left: 105px;
   
}
.card{
width: 490px;
}
.loss{
width: 490px;
}
.gain{
width: 490px;
}
.colName{
    gap: 128px;
    
   
 margin-left: 120px;
}
}

/* 750px */
@media (min-width: 750px) {
      .footerNav{

    width: 750px;

}
input{
  
    width: 630px;
   margin-left: 0px;
}
.RankBox{
width: 550px;
background-color: rgb(0, 0, 0);
margin-left: 105px;
   
}
.card{
width: 490px;
}
.loss{
width: 490px;
}
.gain{
width: 490px;
}
.colName{
    gap: 128px;
    
   
 margin-left: 120px;
}
}

/* 760px */
@media (min-width: 760px) {
    .footerNav{

    width: 760px;

}
input{
  
    width: 640px;
   margin-left: 0px;
}
.RankBox{
width: 550px;
background-color: rgb(0, 0, 0);
margin-left: 110px;
   
}
.card{
width: 490px;
}
.loss{
width: 490px;
}
.gain{
width: 490px;
}
.colName{
    gap: 135px;
    
   
 margin-left: 120px;
}
}

/* 770px */
@media (min-width: 770px) {
    .footerNav{

    width: 770px;

}
input{
  
    width: 650px;
   margin-left: 0px;
}
.RankBox{
width: 560px;
background-color: rgb(0, 0, 0);
margin-left: 120px;
   
}
.card{
width: 500px;
}
.loss{
width: 500px;
}
.gain{
width: 500px;
}
.colName{
    gap: 140px;
    
   
 margin-left: 130px;
}
}

/* 780px */
@media (min-width: 780px) {
    .footerNav{

    width: 780px;

}
input{
  
    width: 650px;
   margin-left: 0px;
}
.RankBox{
width: 560px;
background-color: rgb(0, 0, 0);
margin-left: 120px;
   
}
.card{
width: 500px;
}
.loss{
width: 500px;
}
.gain{
width: 500px;
}
.colName{
    gap: 140px;
    
   
 margin-left: 130px;
}
}

/* 790px */
@media (min-width: 790px) {
    .footerNav{

    width: 790px;

}
input{
  
    width: 660px;
   margin-left: 0px;
}
.RankBox{
width: 560px;
background-color: rgb(0, 0, 0);
margin-left: 125px;
   
}
.card{
width: 500px;
}
.loss{
width: 500px;
}
.gain{
width: 500px;
}
.colName{
    gap: 140px;
    
   
 margin-left: 140px;
}
}

/* 800px */
@media (min-width: 800px) {
    .footerNav{

    width: 800px;

}
input{
  
    width: 670px;
   margin-left: 0px;
}
.RankBox{
width: 570px;
background-color: rgb(0, 0, 0);
margin-left: 130px;
   
}
.card{
width: 510px;
}
.loss{
width: 510px;
}
.gain{
width: 510px;
}
.colName{
    gap: 140px;
    
   
 margin-left: 140px;
}
}

/* 810px */
@media (min-width: 810px) {
    .footerNav{

    width: 810px;

}
input{
  
    width: 680px;
   margin-left: 0px;
}
.RankBox{
width: 570px;
background-color: rgb(0, 0, 0);
margin-left: 130px;
   
}
.card{
width: 510px;
}
.loss{
width: 510px;
}
.gain{
width: 510px;
}
.colName{
    gap: 140px;
    
   
 margin-left: 140px;
}
}

/* 820px */
@media (min-width: 820px) {
    .footerNav{

    width: 820px;

}
input{
  
    width: 680px;
   margin-left: 0px;
}
.RankBox{
width: 600px;
background-color: rgb(0, 0, 0);
margin-left: 130px;
   
}
.card{
width: 530px;
}
.loss{
width: 530px;
}
.gain{
width: 530px;
}
.colName{
    gap: 150px;
    
   
 margin-left: 150px;
}
}

/* 830px */
@media (min-width: 830px) {
    .footerNav{

    width: 830px;

}
input{
  
    width: 690px;
   margin-left: 0px;
}
.RankBox{
width: 600px;
background-color: rgb(0, 0, 0);
margin-left: 130px;
   
}
.card{
width: 530px;
}
.loss{
width: 530px;
}
.gain{
width: 530px;
}
.colName{
    gap: 150px;
    
   
 margin-left: 150px;
}
}

/* 840px */
@media (min-width: 840px) {
    .footerNav{

    width: 840px;

}
input{
  
    width: 700px;
   margin-left: 0px;
}
.RankBox{
width: 600px;
background-color: rgb(0, 0, 0);
margin-left: 130px;
   
}
.card{
width: 540px;
}
.loss{
width: 540px;
}
.gain{
width: 540px;
}
.colName{
    gap: 150px;
    
   
 margin-left: 150px;
}
}

/* 850px */
@media (min-width: 850px) {
     .footerNav{

    width: 850px;

}
input{
  
    width: 710px;
   margin-left: 0px;
}
.RankBox{
width: 600px;
background-color: rgb(0, 0, 0);
margin-left: 130px;
   
}
.card{
width: 540px;
}
.loss{
width: 540px;
}
.gain{
width: 540px;
}
.colName{
    gap: 150px;
    
   
 margin-left: 150px;
}
}

/* 860px */
@media (min-width: 860px) {
     .footerNav{

    width: 860px;

}
.colName{
    gap: 155px;
    
   
 margin-left: 160px;
}
.RankBox{
width: 600px;
background-color: rgb(0, 0, 0);
margin-left: 140px;
   
}
input{
  
    width: 720px;
   margin-left: 0px;
}
}

/* 870px */
@media (min-width: 870px) {
    .footerNav{

    width: 870px;

}
input{
  
    width: 750px;
   margin-left: 0px;
}
.RankBox{
width: 620px;
background-color: rgb(0, 0, 0);
margin-left: 140px;
   
}
.card{
width: 560px;
}
.loss{
width: 560px;
}
.gain{
width: 560px;
}
.colName{
    gap: 160px;
    
   
 margin-left: 160px;
}
}

/* 880px */
@media (min-width: 880px) {
    .footerNav{

    width: 880px;

}
input{
  
    width: 760px;
   margin-left: 0px;
}
.RankBox{
width: 620px;
background-color: rgb(0, 0, 0);
margin-left: 140px;
   
}
.card{
width: 560px;
}
.loss{
width: 560px;
}
.gain{
width: 560px;
}
.colName{
    gap: 160px;
    
   
 margin-left: 160px;
}
}

/* 890px */
@media (min-width: 890px) {
    .footerNav{

    width: 890px;

}
input{
  
    width: 770px;
   margin-left: 0px;
}
.RankBox{
width: 620px;
background-color: rgb(0, 0, 0);
margin-left: 145px;
   
}
.card{
width: 560px;
}
.loss{
width: 560px;
}
.gain{
width: 560px;
}
.colName{
    gap: 170px;
    
   
 margin-left: 160px;
}
}

/* 900px */
@media (min-width: 900px) {
     .footerNav{

    width: 900px;

}
input{
  
    width: 780px;
   margin-left: 0px;
}
.RankBox{
width: 620px;
background-color: rgb(0, 0, 0);
margin-left: 150px;
   
}
.card{
width: 560px;
}
.loss{
width: 560px;
}
.gain{
width: 560px;
}
.colName{
    gap: 165px;
    
   
 margin-left: 170px;
}
}

/* 910px */
@media (min-width: 910px) {
    .footerNav{
 display: flex;
    justify-content: space-around;
    width: 320px;
     background-color: rgb(65, 66, 67);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    margin-top: 0px;
    transform: translateX(80px);
   
}
input{
    width: 300px;
}
.card{
    width: 280px;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
}
.loss{
    width: 280px;
     display: flex;
    justify-content: space-around;
}
.gain{
    width: 280px;
     display: flex;
    justify-content: space-around;
}
/* .primary{
    width: ;
} */
.header{
    width: 320px;
    transform: translateX(80px);
}
.colName{
    width: 320px;
    margin-left: 20px;
    gap: 30px;
}
.RankBox{
    width: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translateX(-70px);
    background-color: rgb(0, 0, 0);
}

}


