/* Popup overlay */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  margin-left: -100px;
  align-items: center;
  z-index: 999;
}
@font-face {
  font-family: "SmoochSans";
  src: url("/assests/SmoochSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

.svg-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: 0.3s ease;
  cursor: pointer;
}

/* Brand colors */
.insta { fill: #E1306C;}
.discord   { fill: #5865F2; }
.twitter   { fill: #ffffff; }
.reddit    { fill: #FF4500; }

/* Hover effect */
.svg-icon:hover {
  transform: scale(10);
  filter: brightness(0.3);
}
/* Popup box */
.popup-content {
  width: 350px;
  background: #000000;
  
  border-radius: 15px;
  padding: 20px;
  position: relative;
  animation: popupFade 0.4s ease forwards;
  text-align: center;
}
.contact{
  width: 170px;
  /* justify-content: center;
  align-items: center;
  display: flex; */
}
/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 20px;
  cursor: pointer;
}

/* Text area */
.policy-text {
  font-size: 16px;
  text-align: left;
  line-height: 1.6;
  max-height: 220px;
  overflow-y: auto;
  margin-top: 10px;
}

/* Contact grid */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
 
  margin-left: 100px;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center; */
  margin-top: 20px;
}

/* Circle icons */
.contact-circle {
  width: 60px;
  height: 60px;
  /* border-radius: 50%;
  border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.contact-circle:hover {
  transform: scale(1.1);
}

/* Popup animation */
@keyframes popupFade {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
