@font-face {
  font-family: 'MyFont';
  src: url('/assests/SmoochSans-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
body {

  background-color: #000000;
  color: white;
  font-family: "SmoochSans", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  
}
button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-family: "SmoochSans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 0.5px solid #ffffff;
}

.container{
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    /* border: 1px white solid; */
    padding: 20px;
    width: 250px;
   
    border-radius: 20px;
    
}
.heading{
   text-align: center;
   font-size: 40px;
   font-weight: lighter;
}
.logo{
    width: 150px;
    height: 150px;
    border-radius: 150px;
   margin-left: 55px;
   
}
@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}
.floating {
  animation: floatSlow 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.white-glow {
  filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.4));
}


input {
  display: block;
  margin: 14px auto;
  padding: 12px 16px;
  width: 80%;

  font-family: "SmoochSans", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;

  color: #ffffff;
  background: #000000;

  border: 2px solid #ffffff;
  border-radius: 10px;

  outline: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.redirect{
   font-size: 20px;
  flex-wrap: nowrap;
  
  letter-spacing: 3px;
}
span{
  color: blue;
}
span{
    font-weight: bold;
    cursor: pointer;
}